@charset "utf-8";
/* CSS Document */

body{
	font-family: Montserrat, sans-serif;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #232327;
}

.div-art{
	width: 900px;
	margin: 0 auto;
	border-left: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
}

.form-art{
	margin: 20px;
}

.insrt-field{
	font-size: 24px;
}

.title, .text{
	width: 350px;
}

.cart img{
	width: 25%;
	height: auto;
	margin-left: 5%;
	margin-bottom: 50px;
}




#start {
    background-color: rgb(154, 100, 255);
}

.block {
    height: 200px;
    margin-left: 65px;
    margin-bottom: 25px;
    background-color: wheat;
}

.menu-catalog {
    background-color: turquoise;
}

.block img{
    width: 100%;
    height: auto;
}


#search1 form{
	display: flex;
    flex-direction: row;
    width: 400px;
}